/* Importar fuentes cursivas */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Estilos generales */
body {
    font-family: Georgia;
    line-height: 1.6;
    background-color: #F3E5D8; 
    color: #6D4C41; 
    margin: 0;
}


/* Cabecera */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: "Dancing Script", cursive;
    font-size: 33px;
    line-height: 1;
    background: radial-gradient(circle, #daa67e, #8D6E63, #4b1a0b); 
    place-items: center;
    text-align: center;
}

header h1 {
    padding: 6px;
    background: linear-gradient(to bottom, chocolate, #4b1a0b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.imagen-titulo{
    width: 100%;
}


/* Barra de navegación */
nav {
    background-color: #C1A38A; 
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    display: inline-block;
    /* Sin inline-block, los enlaces (a) serían elementos en línea y no podríamos ajustar su padding o margen correctamente. */
}

/* Secciones */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1500px;  /* Evita que se estiren demasiado en pantallas grandes */
}

/* Fondo de cada sección */
#mitos {background-color: #EBDCD5;}
#mitologia-griega {background-color: rgba(255, 239, 199, 0.368);}
#tabla-mitos {background-color: #ffe9d4;}
#comentarios {background-color: rgb(246, 217, 197);}


/* Estilos para la parte del video */
.video{
    text-align: center;
    margin: 20px auto;
}

.video h1 {
    font-size: 24px;
    color: #8B0000;
    padding: 10px;
    border-top: 3px dotted #8B0000;
    border-bottom: 3px dotted #8B0000;
    display: inline-block;
}

.intro-paragraph {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    color: #333;
}

/* Estilos de la tabla */
table {
    width: 100%;
    background-color: #F8EDE3;
    border-collapse: collapse; /* Une los bordes para mejor presentación */ 
}

th, td {
    border: 1px solid #C1A38A; /* Bordes marrón pastel suave */
    padding: 10px;
}

th {
    background-color: #8D6E63;
    color: white;
}

/* Formulario */
form {
    background-color: #F8EDE3; 
    padding: 15px;
    border-radius: 5px;
    max-width: 1500px; /* Evita que el formulario sea demasiado ancho */
    margin: 0 auto;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #f8e0d7;
    color: #6D4C41;
    border: 1px solid #bca797;
}

input[type="submit"] {
    background-color: #9e8068;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #81756b;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 15px;
    background-color: #8D6E63;
    color: white;
}

footer a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #46332d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
/* ++++++++++++++++++++++++++++++ USO DE FLEX +++++++++++++++++++++++++ */
[class*="flex"]{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    padding: 30px;
    gap: 30px;
    position: relative;/* Evita que la niebla salga del artículo */
    overflow: hidden; /* Evita que la niebla salga del artículo */
}

[class*="texto"]{
    flex: 1;
    padding: 0px 20px 0px 30px;
    min-width: 280px; /* Asegura que el texto no se haga demasiado pequeño */
}

/* ++++++++++++++++++++++++++++++ LA LLORONA +++++++++++++++++++++++++ */

.titulo-llorona{
    text-align: center;
    margin: 0px 0px 20px 45px;
}

.texto-llorona{
    margin: 60px 20px 0px 20px;
}

.imagen-llorona{
    width: 270px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="llorona"]{
    background: linear-gradient(to bottom, #2e4d5b, #182024); /* Fondo degradado azul grisáceo */
    border-radius: 10px;
    color: rgb(207, 201, 201);
}

/* Efecto de niebla */
.niebla {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('../images/niebla.jpg') repeat-x;
    background-size: contain;
    opacity: 0.2;
    z-index: 1;  /* Asegura que la niebla esté sobre el fondo pero debajo del texto */
    animation: moverNiebla 90s linear infinite;
}

/* Animación para mover la niebla */
@keyframes moverNiebla {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}


/* +++++++++++++++++++++++ EL SILBON +++++++++++++++++++++++++ */

.titulo-el-silbon{
    margin: 0px;
    padding: 0px 90px;
    display: inline-block;
}
   
.texto-el-silbon{
    margin: 10px 0px 0px 20px;
}

.imagen-el-silbon{
    width: 340px;
    margin: 60px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="el-silbon"]{
    background: linear-gradient(to bottom, #2f3840, #252525); 
    border-radius: 10px;
    color:#A8A9AD;
}

/* +++++++++++++++++++++++ EL SOMBRERON +++++++++++++++++++++++++ */

.titulo-el-sombreron{
    text-align: center;
    margin: 0px 0px 20px 45px;
}

.texto-el-sombreron{
    margin: 45px 20px 0px 20px;
}

.imagen-el-sombreron{
    width: 250px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="el-sombreron"]{
    background: linear-gradient(to bottom, #4b1f27, #1b0b0e); /* Fondo degradado azul grisáceo */
    border-radius: 10px;
    color: #caab96;
}


/* +++++++++++++++++++++++ EL CHUPA CABRAS +++++++++++++++++++++++++ */

.titulo-chupa-cabras{
    margin: 0px;
    padding: 0px 50px;
    display: inline-block;
}
   
.texto-chupa-cabras{
    margin: 10px 0px 0px 20px;
}

.imagen-chupa-cabras{
    width: 350px;
    margin: 70px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="chupa-cabras"]{
    background: linear-gradient(to bottom, #283c4d, #121e27); 
    border-radius: 10px;
    color: #A3B4A2;
}

/* +++++++++++++++++++++++++LA PATA SOLA +++++++++++++++++++++++++ */

.titulo-pata-sola{
    text-align: center;
    margin: 0px 0px 20px 45px;
}
   
.texto-pata-sola{
    margin: 45px 20px 0px 20px;
}

.imagen-pata-sola{
    width: 410px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="pata-sola"]{
    background: linear-gradient(to bottom, #87a84e, #1b622b); 
    border-radius: 10px;
    color: #0e2b02;
    position: relative;
    overflow: hidden;
}

/* ++++++++++++++++++++++++ EL MOHAN +++++++++++++++++++++++++ */
.titulo-el-mohan{
    margin: 0px;
    padding: 0px 90px;
    display: inline-block;
}
   
.texto-el-mohan{
    margin: 10px 0px 0px 20px;
}

.imagen-el-mohan{
    width: 300px;
    margin: 60px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="el-mohan"]{
    background: linear-gradient(to bottom, rgb(146, 146, 79), #443416); 
    border-radius: 10px;
    color: rgb(195, 195, 117);
}

/* ++++++++++++++++++++++++ PERSEFONE Y HADES +++++++++++++++++++++++++ */
.titulo-persefone-hades{
    text-align: center;
    margin: 0px 0px 20px 20px;
}

.texto-persefone-hades{
    margin: 0px 20px 0px 20px;
    background: none !important;
}

.imagen-persefone-hades{
    width: 450px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="persefone-hades"]{
    background: linear-gradient(to right, rgb(14, 5, 49) 15%, #22863a,#FFD93D, #af662d,  #599aef);
    border-radius: 10px;
    color: black;
}

/* ++++++++++++++++++++++++ LA HISTORIA DE ICARO +++++++++++++++++++++++++ */
.titulo-icaro{
    margin: 0px;
    padding: 0px 90px;
    display: inline-block;
}
   
.texto-icaro{
    margin: 10px 0px 0px 20px;
    background: none !important;
}

.imagen-icaro{
    width: 400px;
    margin: 60px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="icaro"]{
    background: radial-gradient(circle, #ffef87, #fdc44a, #8eb9ff, #08367a);
    border-radius: 10px;
    color: rgb(14, 28, 90);
}

/* ++++++++++++++++++++++++ MEDUSA +++++++++++++++++++++++++ */
.titulo-medusa{
    text-align: center;
    margin: 0px 0px 20px 45px;
}

.texto-medusa{
    margin: 60px 20px 0px 20px;
}

.imagen-medusa{
    width: 330px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="medusa"]{
    background: linear-gradient(to bottom,#B89F5D, #2E3B2F);
    border-radius: 10px;
    color: rgb(210, 210, 115);
}

/* ++++++++++++++++++++++++ LA HISTORIA DE SISIFO +++++++++++++++++++++++++ */
.titulo-sisifo{
    margin: 0px;
    padding: 0px 90px;
    display: inline-block;
}
   
.texto-sisifo{
    margin: 10px 0px 0px 20px;
}

.imagen-sisifo{
    width: 400px;
    margin: 60px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="sisifo"]{
    background: linear-gradient(to bottom, #ba7530, #5b3820, #372714);
    border-radius: 10px;
    color:  #ecc49c;
}

/* ++++++++++++++++++++++++ EL MITO DE ECO +++++++++++++++++++++++++ */
.titulo-eco{
    text-align: center;
    margin: 0px 0px 20px 20px;
}

.texto-eco{
    margin: 68px 20px 0px 20px;
}

.imagen-eco{
    width: 310px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="eco"]{
    background: linear-gradient(to bottom,#edc89c,#7cac7c);
    border-radius: 10px;
    color: rgb(18, 63, 3);
}

/* ++++++++++++++++++++++++ EL MITO DE NARCISO +++++++++++++++++++++++++ */
.titulo-narciso{
    margin: 0px;
    padding: 0px 90px;
    display: inline-block;
}
   
.texto-narciso{
    margin: 10px 0px 0px 20px;
}

.imagen-narciso{
    width: 480px;
    margin: 80px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="narciso"]{
    background: linear-gradient(to bottom,#b9e7e7, #75acac, #34ac84);
    border-radius: 10px;
    color: rgb(14, 28, 90);
}

/* ++++++++++++++++++++++++ GUERRA DE TROYA +++++++++++++++++++++++++ */
.titulo-troya{
    text-align: center;
    margin: 0px 0px 20px 20px;
}

.texto-troya{
    margin: 0px 20px 0px 20px;
}

.imagen-troya{
    width: 400px;
    margin: 10px 0px 0px 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="troya"]{
    background: linear-gradient(to bottom, #bda660, #b3bd6b);
    border-radius: 10px;
    color: black;
}

/* ++++++++++++++++++++++++ AQUILES +++++++++++++++++++++++++ */
.titulo-aquiles{
    margin: 0px;
    padding: 0px 90px;
    display: inline-block;
}
   
.texto-aquiles{
    margin: 10px 0px 0px 20px;
    background: none !important;
}

.imagen-aquiles{
    width: 400px;
    margin: 60px 30px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
  
[class*="aquiles"]{
    background: radial-gradient(circle, #ffef87, #fdc44a, #7F2B2B);
    border-radius: 10px;
    color: rgb(14, 28, 90);
}